<% include ../partials/header %>


<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName+" "+user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        Nulla porta odio eu turpis blandit dapibus. Fusce placerat metus vitae purus auctor faucibus. 
        Mauris nec lacinia felis, et congue justo. Fusce aliquet vulputate quam ut sagittis. 
        Nunc odio dolor, ullamcorper sollicitudin orci vel, gravida facilisis diam. 
        Nunc vitae felis diam. Nunc maximus eu odio vitae suscipit.
        Suspendisse viverra sem tempus velit ornare aliquet.
        Fusce varius ultricies lacus, ut ullamcorper eros aliquam et.
        
        <% if(loginStatus && user.username === currentUser.username){ %>
            <p></p>
            <p><a href="/forgot">Password Reset</a></p>
        <% } %>
    </div>
    <div class="col-md-8">
        <% if(loginStatus && user.username === currentUser.username){ %>
            <h3>Your campgrounds:</h3>
        <% } else { %>
            <h3><%= user.username %>'s campgrounds:</h3>
        <% } %>
        
        <ul>
            <% campgrounds.forEach(function(campground) { %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }); %>
        </ul>
    </div>
</div>


<% include ../partials/footer %>